.screen {
  height: 260px;
  width: 475px;
  background-color: lightgray;
  box-shadow: 0px 0px 10px lightgray;
  border: 1.5px solid rgb(109, 109, 109);
  border-radius: 10px;
  margin-top: 25px;
}
/* 0.457 ratio */
