.codeButton {
  background-color: teal;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.codeButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .codeButton {
    margin-top: 3%;
  }
}
