.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .codeContainer {
    padding: 5%;
  }
}

.codeButtons {
  display: flex;
}
